<a href="https://colab.research.google.com/github/roberthsu2003/__2025_07_25_python_youngtalk__/blob/main/lesson2/lesson2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
print(2 + 3 * 4)
print((2 + 3) * 4)
print(2 * (1 + 2) ** 2 - 2 ** 2 * 2)

14
20
10

### 建立變數

In [11]:
n1 = 2 + 3 * 4
n2 = (2 + 3) * 4
n3 = 2.0 * (1 + 2) ** 2 - 2 ** 2 * 2


print(n1)
print(n2)
print(n3)

14
20
10.0

In [12]:
print(n1)
print(n2)
print(n3)

14
20
10.0